Repository yusraghazi/audioDiary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git remote rm backend || true
  - git remote add backend https://heroku:$HEROKU_API_KEY@git.heroku.com/audiodiary-be-team1-staging.git || true
  - git subtree split --prefix backend -b splitting-be
  - git push --force backend splitting-be:master
  ...

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-fe || true
  - git remote rm heroku-fe-app || true
  - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-fe-app-staging1.git || true
  - git subtree split --prefix my-fe-app -b splitting-fe
  ...

worked on getting data of themes from database admin side
  .idea/workspace.xml
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_fe

worked on like crud operations and http get requests in several pages
  .idea/workspace.xml
  backend/src/main/java/app/models/Likes.java
  backend/src/main/java/app/repositories/LikeRepository.java
  backend/src/main/java/app/repositories/LikeRepositoryJPA.java
  backend/src/main/java/app/rest/LikeController.java
  frontend/src/app/components/admin/admin-users/admin-users.component.html
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/feed/feedview/feedview.component.html
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
  frontend/src/app/components/forms/register/register.component.html
  frontend/src/app/components/profile/profile-post/profile-post.component.ts
  frontend/src/app/components/profile/profile.component.html
  frontend/src/app/components/profile/profile.component.ts
  frontend/src/app/models/like.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/likes.service.ts
  frontend/src/app/services/posts.service.ts
  frontend/src/app/services/user.service.ts
Due: deploy_be, deploy_fe

worked on dividing researcher and maintainer
  .idea/workspace.xml
  frontend/src/app/components/admin/admin-posts/admin-posts.component.html
  frontend/src/app/components/admin/admin-posts/admin-posts.component.ts
  frontend/src/app/components/admin/admin-users/admin-users.component.html
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/admin/home/home.component.html
  frontend/src/app/components/admin/home/home.component.ts
  frontend/src/app/components/feed/feedview/feedview.component.html
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/services/posts.service.ts
  frontend/src/app/services/user.service.ts
Due: deploy_fe

sharepost
  .idea/workspace.xml
  frontend/src/app/app-routing.module.ts
  frontend/src/app/components/editing/editing.component.html
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
  frontend/src/assets/audio/creative_minds.mp3
  frontend/src/index.html
Due: deploy_fe

sharepost
  .idea/workspace.xml
  frontend/src/app/components/feed/feedview/feedview.component.ts
Due: deploy_fe

sharepost
  frontend/src/app/models/meta-tag.spec.ts
  frontend/src/app/models/meta-tag.ts
  frontend/src/app/services/share.service.spec.ts
  frontend/src/app/services/share.service.ts
Due: deploy_fe

sharepost
  .idea/workspace.xml
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/models/meta-tag.spec.ts
Due: deploy_fe

sharepost
  .idea/workspace.xml
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
Due: deploy_fe

worked on map and likes
  .idea/workspace.xml
  frontend/src/app/app-routing.module.ts
  frontend/src/app/components/feed/feedview/feedview.component.html
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/components/feed/mapview/mapview.component.css
  frontend/src/app/components/feed/mapview/mapview.component.html
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
  frontend/src/app/components/feed/single-audio/single-audio.component.css
  frontend/src/app/components/feed/single-audio/single-audio.component.html
  frontend/src/app/components/feed/single-audio/single-audio.component.ts
  frontend/src/app/components/feed/switch/switch.component.html
  frontend/src/app/components/footer/footer.component.html
  frontend/src/app/components/header/header.component.html
  frontend/src/app/models/like.ts
  frontend/src/app/models/post.ts
  frontend/src/app/services/likes.service.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_fe

worked on map and admin
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/admin/admin-posts/admin-posts.component.ts
  frontend/src/app/components/editing/editing.component.ts
  frontend/src/app/components/feed/mapview/mapview.component.ts
Due: deploy_be, deploy_fe

added search filter for hashtags
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/feed/feedview/feedview.component.html
  frontend/src/app/components/feed/feedview/feedview.component.ts
Due: deploy_be, deploy_fe

worked on last details of map
  .idea/workspace.xml
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/editing/editing.component.html
  frontend/src/app/components/feed/feedview/feedview.component.html
  frontend/src/app/components/feed/mapview/mapview.component.css
  frontend/src/app/components/feed/mapview/mapview.component.html
  frontend/src/app/components/feed/mapview/mapview.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
  frontend/src/app/components/feed/single-audio/single-audio.component.css
  frontend/src/app/components/feed/single-audio/single-audio.component.html
  frontend/src/app/components/feed/single-audio/single-audio.component.ts
  frontend/src/app/models/post.ts
Due: deploy_fe

worked on last details of map
  .idea/workspace.xml
  frontend/src/app/components/dummy-component/dummy-component.component.css
  frontend/src/app/components/dummy-component/dummy-component.component.html
  frontend/src/app/components/dummy-component/dummy-component.component.spec.ts
  frontend/src/app/components/dummy-component/dummy-component.component.ts
  frontend/src/app/components/feed/mapview/mapview.component.ts
Due: deploy_fe

worked on last details of map
  .idea/workspace.xml
Due: none

worked on likes
  .idea/workspace.xml
  backend/src/main/java/app/repositories/LikeRepository.java
  backend/src/main/java/app/repositories/LikeRepositoryJPA.java
  backend/src/main/java/app/rest/LikeController.java
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.ts
  frontend/src/app/services/likes.service.ts
Due: deploy_be, deploy_fe

add user-name to posts (posts without username may give err in console)
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/profile/profile-post/profile-post.component.html
  frontend/src/app/components/profile/profile.component.html
Due: deploy_fe

add home-button back to footer!
  frontend/src/app/components/footer/footer.component.html
Due: deploy_fe

favorite post can also be removed now
  .idea/workspace.xml
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.html
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.ts
  frontend/src/app/components/profile/profile-post/profile-post.component.html
  frontend/src/app/components/profile/profile.component.html
  frontend/src/app/components/profile/profile.component.ts
Due: deploy_fe

favorite post can also be removed now
  .idea/workspace.xml
Due: none

test for deployment
  frontend/src/app/components/editing/editing.component.ts
Due: deploy_fe

test for deployment
  .idea/workspace.xml
  frontend/package-lock.json
Due: deploy_fe

test for deployment 2.0
  frontend/src/app/components/feed/comments/comments.component.ts
Due: deploy_fe

worked on admin page
  .idea/workspace.xml
  backend/src/main/java/app/rest/UserController.java
  frontend/src/app/components/admin/admin-posts/admin-posts.component.ts
  frontend/src/app/components/admin/admin-users/admin-users.component.html
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/admin/admin.component.html
  frontend/src/app/components/admin/home/home.component.html
  frontend/src/app/components/admin/home/home.component.ts
  frontend/src/app/components/feed/mapview/mapview.component.ts
Due: deploy_be, deploy_fe

fixed bugs in admin
  .idea/workspace.xml
  frontend/src/app/components/admin/admin-posts/admin-posts.component.html
  frontend/src/app/components/admin/admin-posts/admin-posts.component.ts
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
Due: deploy_fe

updated backend
  .idea/workspace.xml
  backend/src/main/java/app/models/Audio.java
  backend/src/main/java/app/models/Posts.java
  backend/src/main/java/app/models/User.java
  backend/src/main/java/app/repositories/AudioRepository.java
  backend/src/main/java/app/repositories/AudioRepositoryJPA.java
  backend/src/main/java/app/repositories/CommentRepository.java
  backend/src/main/java/app/repositories/PostsRepositoryJPA.java
  backend/src/main/java/app/rest/AudioController.java
  backend/src/main/java/app/rest/PostsController.java
Due: deploy_be

updated backend 2.0
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
  frontend/src/app/models/post.ts
Due: deploy_be, deploy_fe

Fixed validation and cloudinary
  frontend/.angular/cache/babel-webpack/1b72162acb7d0e0aea59697873d85c5d.json
  frontend/.angular/cache/babel-webpack/20790144e8f7724c11c7ec02a0770b4b.json
  frontend/.angular/cache/babel-webpack/770f8fe7449a8a6638d05149c449fb1e.json
  frontend/.angular/cache/babel-webpack/9c2c7e880c4df37d4c87b2392585bac6.json
  frontend/.angular/cache/babel-webpack/a86e40df9501e7211a6754d463f4eff4.json
  frontend/.angular/cache/babel-webpack/e36e92dd6f84753a6cc49453734f4802.json
Due: deploy_fe

merge image cloudinary
  frontend/.gitignore
Due: deploy_fe

merge image cloudinary 2.0
  frontend/.gitignore
Due: deploy_fe

Path conditions:
  deploy_be: any of: backend/**/*
  deploy_fe: any of: frontend/**/*
