Repository yusraghazi/audioDiary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

.gitlab-ci.yml:

stages:
  - deploy

deploy_be:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - master
    changes:
      - "backend/**/*"
    variables:
      - $DEPLOYMENT == "true"
  script:
    - git remote rm backend || true
    - git remote add backend https://heroku:$HEROKU_API_KEY@git.heroku.com/audiodiary-be-team1-staging.git || true
    - git subtree split --prefix backend -b splitting-be
    - git push --force backend splitting-be:master
    - git branch -D splitting-be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - master
    changes:
      - "frontend/**/*"
    variables:
      - $DEPLOYMENT == "true"
  script:
#    - git remote rm frontend || true
#    - git remote add frontend https://heroku:$HEROKU_API_KEY@git.heroku.com/audiodiary-fe-team1-staging.git || true
#    - git subtree split --prefix frontend -b splitting-fe
#    - git push --force frontend splitting-fe:master
#    - git branch -D splitting-fe
      - git branch -D splitting-fe || true
      - git remote rm heroku-fe-app || true
      - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-fe-app-staging1.git || true
      - git subtree split --prefix my-fe-app -b splitting-fe
      - git push --force heroku-fe-app splitting-fe:master

changed data variable so coordination values wont get rounded up
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
  backend/src/main/java/app/rest/LikeController.java
Due: deploy_be

worked on map and backend data visualization
  .idea/workspace.xml
  backend/src/main/java/app/models/Audio.java
  backend/src/main/java/app/models/Comment.java
  backend/src/main/java/app/models/Likes.java
  backend/src/main/java/app/models/Posts.java
  frontend/src/app/components/feed/mapview/mapview.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
Due: deploy_be, deploy_fe

next test for backend data posts
  .idea/workspace.xml
  backend/src/main/java/app/models/Likes.java
  backend/src/main/java/app/models/Posts.java
  backend/src/main/java/app/rest/UserController.java
Due: deploy_be

next test for backend data posts
  backend/src/main/java/app/models/Posts.java
Due: deploy_be

fix data recursion by adding annotations
  backend/src/main/java/app/models/Posts.java
  backend/src/main/java/app/models/User.java
Due: deploy_be

fix data recursion by adding annotations
  .idea/workspace.xml
  backend/src/main/java/app/models/Audio.java
  backend/src/main/java/app/models/Comment.java
  backend/src/main/java/app/models/Posts.java
  backend/src/main/java/app/models/User.java
Due: deploy_be

added function to get theme
  .idea/workspace.xml
  frontend/src/app/components/feed/mapview/mapview.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.html
Due: deploy_fe

worked on map overlay
  .idea/workspace.xml
  frontend/src/app/components/feed/mapview/mapview.component.css
  frontend/src/app/components/feed/mapview/mapview.component.html
  frontend/src/app/components/feed/mapview/mapview.component.ts
  frontend/src/app/components/feed/single-audio/single-audio.component.css
  frontend/src/app/components/feed/single-audio/single-audio.component.html
Due: deploy_fe

tried to work on post methods comment and post
  .idea/workspace.xml
  backend/src/main/java/app/repositories/PostsRepository.java
  backend/src/main/java/app/repositories/PostsRepositoryJPA.java
  backend/src/main/java/app/rest/AuthenticationController.java
  backend/src/main/java/app/rest/PostsController.java
  frontend/src/app/components/editing/editing.component.html
  frontend/src/app/components/editing/editing.component.ts
  frontend/src/app/components/feed/comments/comments.component.ts
  frontend/src/app/components/forms/register/register.component.html
  frontend/src/app/models/post.ts
  frontend/src/app/models/singleComment.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/comments.service.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_be, deploy_fe

working on delete
  frontend/src/app/components/profile/profile.component.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_fe

worked on post requests
  .idea/workspace.xml
  frontend/src/app/components/feed/comments/comments.component.ts
  frontend/src/app/models/singleComment.ts
Due: deploy_fe

fix cors policy
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
  backend/src/main/java/app/rest/Webconfig.java
Due: deploy_be

fixed error backend
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
Due: deploy_be

test
  .idea/workspace.xml
  backend/src/main/java/app/rest/Webconfig.java
Due: deploy_be

un-comment delete call in the controller
  backend/src/main/java/app/rest/PostsController.java
Due: deploy_be

fixed deleting post
  .idea/workspace.xml
  backend/src/main/java/app/repositories/PostsRepository.java
  backend/src/main/java/app/repositories/PostsRepositoryJPA.java
  backend/src/main/java/app/rest/PostsController.java
  backend/src/main/java/app/rest/Webconfig.java
  frontend/src/app/services/posts.service.ts
Due: deploy_be, deploy_fe

test deleting post on heroku
  .idea/workspace.xml
  frontend/src/app/components/profile/profile-post/profile-post.component.ts
Due: deploy_fe

test deleting post on heroku
  .idea/workspace.xml
  frontend/src/app/components/profile/profile.component.html
  frontend/src/app/components/profile/profile.component.ts
Due: deploy_fe

trying to fix cors mapping issue
  .idea/workspace.xml
  backend/src/main/java/app/rest/Webconfig.java
Due: deploy_be

attach the username to posts in profile page
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.html
  frontend/src/app/components/profile/profile-post/profile-post.component.html
  frontend/src/app/components/profile/profile.component.ts
Due: deploy_fe

last try
  .idea/workspace.xml
  backend/src/main/java/app/rest/Webconfig.java
Due: deploy_be

delete favorite post fixed (thanks to hanna lol)
  frontend/src/app/components/profile/profile.component.ts
Due: deploy_fe

delete post auto reload page after delete
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.ts
  frontend/src/app/components/profile/profile-post/profile-post.component.ts
  frontend/src/app/components/profile/profile.component.html
  frontend/src/app/components/profile/profile.component.ts
Due: deploy_fe

added username/name to feedview posts
  frontend/src/app/components/feed/recording-post/recording-post.component.html
Due: deploy_fe

worked on post comment
  .idea/workspace.xml
  backend/src/main/java/app/models/Audio.java
  backend/src/main/java/app/models/Comment.java
  backend/src/main/java/app/models/Posts.java
  backend/src/main/java/app/models/User.java
  backend/src/main/java/app/repositories/PostsRepositoryMock.java
  backend/src/main/java/app/rest/CommentController.java
  backend/src/main/java/app/rest/PostsController.java
  frontend/src/app/components/feed/comments/comments.component.ts
  frontend/src/app/components/feed/single-comment/single-comment.component.html
  frontend/src/app/components/feed/single-comment/single-comment.component.ts
  frontend/src/app/models/singleComment.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/comments.service.ts
Due: deploy_be, deploy_fe

worked on post request post
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
  backend/src/main/java/app/rest/PostsController.java
  frontend/src/app/components/editing/editing.component.html
  frontend/src/app/components/editing/editing.component.ts
  frontend/src/app/components/feed/comments/comments.component.ts
  frontend/src/app/components/feed/single-comment/single-comment.component.html
  frontend/src/app/components/feed/single-comment/single-comment.component.ts
  frontend/src/app/models/audio.ts
  frontend/src/app/models/post.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_be, deploy_fe

worked on qol and update user with taner and altaaf
  .idea/workspace.xml
  backend/src/main/java/app/rest/AuthenticationController.java
  backend/src/main/java/app/rest/UserController.java
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/forms/login/login.component.html
  frontend/src/app/components/forms/register/register.component.html
  frontend/src/app/components/profile-settings/profile-settings.component.html
  frontend/src/app/components/profile-settings/profile-settings.component.ts
  frontend/src/app/models/user.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/user.service.ts
Due: deploy_be, deploy_fe

Changed the styling
  .idea/workspace.xml
  frontend/src/app/components/rec-done/rec-done/rec-done.component.css
  frontend/src/app/components/rec-done/rec-done/rec-done.component.html
Due: deploy_fe

worked on qol and update user with taner and altaaf
  .idea/workspace.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/forms/login/login.component.ts
  frontend/src/app/services/auth.service.ts
Due: deploy_fe

added space feedview bottom for better scrolling
  frontend/src/app/components/feed/feedview/feedview.component.html
Due: deploy_fe

worked on mapview
  .idea/workspace.xml
  backend/src/main/java/app/repositories/PostsRepositoryJPA.java
  frontend/src/app/app-routing.module.ts
  frontend/src/app/components/editing/editing.component.html
  frontend/src/app/components/feed/mapview/mapview.component.css
  frontend/src/app/components/feed/mapview/mapview.component.html
  frontend/src/app/components/feed/mapview/mapview.component.ts
  frontend/src/app/components/feed/single-audio/single-audio.component.html
Due: deploy_be, deploy_fe

Fixed backend login
  .idea/workspace.xml
  frontend/src/app/components/forms/login/login.component.html
  frontend/src/app/services/auth.service.ts
Due: deploy_fe

fix frontend issues and image not loading in profile
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/feed/single-audio/single-audio.component.html
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.html
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.ts
  frontend/src/app/components/profile/profile-post/profile-post.component.html
  frontend/src/app/components/profile/profile.component.html
Due: deploy_fe

worked on adding hashtags instead of themes
  .idea/workspace.xml
  frontend/src/app/components/admin/admin-users/admin-users.component.html
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/admin/home/home.component.html
  frontend/src/app/components/admin/home/home.component.ts
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
  frontend/src/app/components/footer/footer.component.html
  frontend/src/app/models/post.ts
  frontend/src/app/services/posts.service.ts
  frontend/src/app/services/user.service.ts
Due: deploy_fe

worked on cloudinary server side
  .idea/workspace.xml
  backend/pom.xml
  backend/src/main/java/app/repositories/AudioRepositoryJPA.java
  backend/src/main/java/app/rest/AudioController.java
  backend/src/main/java/app/rest/PostsController.java
  backend/src/main/resources/application-staging-pg.properties
Due: deploy_be

V1.00
  .idea/workspace.xml
  frontend/src/app/components/footer/footer.component.html
  frontend/src/app/components/footer/footer.component.ts
Due: deploy_fe

worked on cloudinary server side
  .idea/workspace.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/editing/editing.component.html
  frontend/src/app/components/editing/editing.component.ts
Due: deploy_fe

further implementation of cloudinary
  .idea/inspectionProfiles/Project_Default.xml
  .idea/workspace.xml
  backend/src/main/java/app/rest/AudioController.java
  frontend/src/app/components/editing/editing.component.ts
Due: deploy_be, deploy_fe

worked on getting data from database admin side
  .idea/workspace.xml
  frontend/src/app/components/admin/admin-posts/admin-posts.component.html
  frontend/src/app/components/admin/admin-posts/admin-posts.component.ts
  frontend/src/app/components/admin/admin-users/admin-users.component.html
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
  frontend/src/app/components/forms/login/login.component.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_fe
