Repository yusraghazi/audioDiary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git remote rm backend || true
  - git remote add backend https://heroku:$HEROKU_API_KEY@git.heroku.com/audiodiary-be-team1-staging.git || true
  - git subtree split --prefix backend -b splitting-be
  - git push --force backend splitting-be:master
  ...

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-fe || true
  - git remote rm heroku-fe-app || true
  - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-fe-app-staging1.git || true
  - git subtree split --prefix my-fe-app -b splitting-fe
  ...

add missing spec ts files to profile
  .idea/workspace.xml
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.spec.ts
  frontend/src/app/components/profile/profile-post/profile-post.component.spec.ts
  frontend/src/app/components/profile/profile.component.spec.ts
Due: deploy_fe

comments test fixed
  .idea/workspace.xml
  backend/src/main/java/app/rest/CommentController.java
  backend/src/test/java/app/testComments.java
  frontend/src/app/components/editing/editing.component.html
  frontend/src/app/components/editing/editing.component.ts
Due: deploy_be, deploy_fe

comments test fix
  .idea/workspace.xml
  backend/src/test/java/app/testComments.java
Due: deploy_be

finished back end test
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
  backend/src/main/java/app/repositories/PostsRepository.java
  backend/src/main/java/app/rest/PostsController.java
  backend/src/test/java/app/postTest.java
Due: deploy_be

Added Like tests and finished backend tests
  .idea/workspace.xml
  backend/src/main/java/app/models/Likes.java
  backend/src/test/java/app/testComments.java
  backend/src/test/java/app/testLikes.java
Due: deploy_be

worked on frontend tests
  .idea/workspace.xml
  frontend/src/app/app-routing.module.ts
  frontend/src/app/components/admin/admin-posts/admin-posts.component.spec.ts
  frontend/src/app/components/feed/mapview/mapview.component.html
  frontend/src/app/components/feed/mapview/mapview.component.spec.ts
  frontend/src/app/components/feed/mapview/mapview.component.ts
  frontend/src/app/services/posts.service.spec.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_fe

worked further on frontend tests
  .idea/workspace.xml
  frontend/src/app/components/feed/mapview/mapview.component.spec.ts
  frontend/src/app/components/feed/mapview/mapview.component.ts
  frontend/src/app/models/formattedpost.ts
  frontend/src/app/services/posts.service.spec.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_fe

worked further on frontend tests
  .idea/workspace.xml
  frontend/src/app/components/admin/admin-posts/admin-posts.component.spec.ts
  frontend/src/app/components/admin/admin-posts/admin-posts.component.ts
  frontend/src/app/components/feed/mapview/mapview.component.spec.ts
Due: deploy_fe

worked further on frontend tests
  .idea/workspace.xml
  frontend/src/app/components/admin/admin-posts/admin-posts.component.spec.ts
  frontend/src/app/components/admin/home/home.component.html
  frontend/src/app/components/admin/home/home.component.spec.ts
  frontend/src/app/components/admin/home/home.component.ts
Due: deploy_fe

Finished 3/5 FE tests
  .idea/workspace.xml
  frontend/package-lock.json
  frontend/src/app/components/editing/editing.component.html
  frontend/src/app/components/editing/editing.component.spec.ts
  frontend/src/app/components/editing/editing.component.ts
  frontend/src/app/services/auth.service.ts
Due: deploy_fe

cleaned up code for M&T
  .idea/workspace.xml
  backend/src/main/java/app/models/Likes.java
  backend/src/main/java/app/rest/Webconfig.java
  frontend/src/app/components/admin/admin-posts/admin-posts.component.html
  frontend/src/app/components/admin/admin-posts/admin-posts.component.spec.ts
  frontend/src/app/components/admin/home/home.component.spec.ts
  frontend/src/app/components/editing/editing.component.ts
  frontend/src/app/components/feed/comments/comments.component.ts
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/components/feed/mapview/mapview.component.html
  frontend/src/app/components/feed/mapview/mapview.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
  frontend/src/app/components/feed/single-audio/single-audio.component.html
  frontend/src/app/components/feed/single-audio/single-audio.component.ts
  frontend/src/app/components/forms/login/login.component.ts
  frontend/src/app/components/profile-settings/profile-settings.component.ts
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.ts
  frontend/src/app/components/profile/profile-post/profile-post.component.ts
  frontend/src/app/components/profile/profile.component.ts
  frontend/src/app/components/rec-done/rec-done/rec-done.component.ts
  frontend/src/app/services/posts.service.spec.ts
  frontend/src/environments/environment.ts
Due: deploy_be, deploy_fe

added some comments and javadoc for M&T
  .idea/inspectionProfiles/Project_Default.xml
  .idea/workspace.xml
  backend/src/main/java/app/rest/LikeController.java
  backend/src/test/java/app/postTest.java
  frontend/src/app/components/feed/mapview/mapview.component.ts
  frontend/src/app/components/feed/single-audio/single-audio.component.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_be, deploy_fe

cleaned up code for M&T
  .idea/compiler.xml
  .idea/workspace.xml
  backend/pom.xml
  backend/src/main/java/app/rest/AuthenticationController.java
  backend/src/main/java/app/rest/UserController.java
  backend/src/test/java/app/postTest.java
  backend/src/test/java/app/testAuthentication.java
  backend/src/test/java/app/testExceptions.java
  backend/src/test/java/app/testUserRepository.java
  frontend/package.json
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/editing/editing.component.spec.ts
  frontend/src/app/components/feed/comments/comments.component.html
  frontend/src/app/components/feed/comments/comments.component.spec.ts
  frontend/src/app/components/feed/comments/comments.component.ts
  frontend/src/app/components/feed/feedview/feedview.component.html
  frontend/src/app/components/feed/feedview/feedview.component.spec.ts
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.spec.ts
  frontend/src/app/components/feed/switch/switch.component.spec.ts
  frontend/src/app/components/forms/login/login.component.html
  frontend/src/app/components/forms/login/login.component.spec.ts
  frontend/src/app/components/forms/login/login.component.ts
  frontend/src/app/models/audio.ts
  frontend/src/app/models/comment.spec.ts
  frontend/src/app/models/comment.ts
  frontend/src/app/models/formattedpost.ts
  frontend/src/app/models/post.ts
  frontend/src/app/services/auth.service.spec.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/comments.service.spec.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_be, deploy_fe

worked on tests
  .idea/ad-vmc-1.iml
  .idea/misc.xml
  .idea/workspace.xml
  backend/src/test/java/app/getPostsTest.java
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin/home/home.component.spec.ts
  frontend/src/app/components/editing/editing.component.spec.ts
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.spec.ts
  frontend/src/app/components/profile/profile-post/profile-post.component.spec.ts
  frontend/src/app/components/profile/profile.component.spec.ts
Due: deploy_be, deploy_fe

Path conditions:
  deploy_be: any of: backend/**/*
  deploy_fe: any of: frontend/**/*
