Repository yusraghazi/audioDiary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git remote rm backend || true
  - git remote add backend https://heroku:$HEROKU_API_KEY@git.heroku.com/audiodiary-be-team1-staging.git || true
  - git subtree split --prefix backend -b splitting-be
  - git push --force backend splitting-be:master
  ...

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-fe || true
  - git remote rm heroku-fe-app || true
  - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-fe-app-staging1.git || true
  - git subtree split --prefix my-fe-app -b splitting-fe
  ...

commit for merge
  .idea/workspace.xml
  backend/src/main/java/app/rest/Webconfig.java
  frontend/src/app/services/comments.service.ts
  frontend/src/app/services/posts.service.ts
  frontend/src/environments/environment.ts
Due: deploy_be, deploy_fe

V1.01
  .idea/workspace.xml
  backend/src/main/java/app/rest/AudioController.java
  backend/src/main/java/app/rest/AuthenticationController.java
  backend/src/main/java/app/rest/PostsController.java
  backend/src/main/resources/application.properties
Due: deploy_be

V1.02
  .idea/workspace.xml
  backend/src/main/java/app/rest/AuthenticationController.java
  frontend/src/app/services/auth.service.ts
Due: deploy_be, deploy_fe

commit for merge
  .idea/dataSources.xml
  .idea/libraries/Maven__com_h2database_h2_1_4_200.xml
  .idea/workspace.xml
  backend/pom.xml
  backend/src/main/resources/application-staging-pg.properties
Due: deploy_be

commit for test
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
  backend/src/main/java/app/repositories/PostsRepository.java
  backend/src/main/java/app/repositories/PostsRepositoryJPA.java
  backend/src/main/java/app/rest/PostsController.java
  backend/src/main/resources/application-staging-pg.properties
  backend/src/main/resources/data.sql
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_be, deploy_fe

test
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
Due: deploy_be

worked on crud
  .idea/dataSources.xml~f920faf169ba451b1918db019c8d296a4eb30bff
  .idea/workspace.xml
  backend/src/main/java/app/models/User.java
  backend/src/main/java/app/rest/UserController.java
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/components/footer/footer.component.html
  frontend/src/app/components/footer/footer.component.ts
  frontend/src/app/components/forms/login/login.component.ts
  frontend/src/app/components/profile-settings/profile-settings.component.html
  frontend/src/app/components/profile-settings/profile-settings.component.ts
  frontend/src/app/components/welcome/welcome.component.css
  frontend/src/app/components/welcome/welcome.component.html
  frontend/src/app/components/welcome/welcome.component.spec.ts
  frontend/src/app/components/welcome/welcome.component.ts
  frontend/src/app/services/auth-guard-admin.service.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/user.service.ts
  frontend/src/assets/images/ewa-diary.png
Due: deploy_be, deploy_fe

worked on crud
  .idea/workspace.xml
  backend/src/main/java/app/rest/UserController.java
Due: deploy_be

worked on crud
  .idea/workspace.xml
  frontend/src/app/services/user.service.ts
Due: deploy_fe

worked on crud
  .idea/workspace.xml
  frontend/src/app/components/forms/register/register.component.html
  frontend/src/app/components/profile-settings/profile-settings.component.html
  frontend/src/app/services/user.service.ts
Due: deploy_fe

worked on crud, last test
  frontend/src/app/components/profile-settings/profile-settings.component.html
  frontend/src/app/components/profile-settings/profile-settings.component.ts
  frontend/src/app/services/user.service.ts
Due: deploy_fe

worked on crud, last test
  .idea/workspace.xml
  backend/src/main/java/app/rest/UserController.java
Due: deploy_be

worked on crud, last test
  .idea/workspace.xml
  backend/src/main/java/app/rest/UserController.java
  frontend/src/app/services/user.service.ts
Due: deploy_be, deploy_fe

worked on crud, last test
  .idea/workspace.xml
  backend/src/main/java/app/rest/UserController.java
  frontend/src/app/components/profile-settings/profile-settings.component.html
  frontend/src/app/components/profile-settings/profile-settings.component.ts
  frontend/src/app/services/user.service.ts
Due: deploy_be, deploy_fe

worked on crud, last test
  .idea/workspace.xml
Due: none

Revert "worked on crud, last test"
  .idea/workspace.xml
Due: none

Revert "Revert "worked on crud, last test""
  .idea/workspace.xml
Due: none

V1.00
  .idea/workspace.xml
  backend/src/main/java/app/rest/UserController.java
  frontend/src/app/components/forms/register/register.component.html
  frontend/src/app/components/profile-settings/profile-settings.component.html
  frontend/src/app/components/profile-settings/profile-settings.component.ts
  frontend/src/app/services/user.service.ts
Due: deploy_be, deploy_fe

testing deployment by fixing error
  .gitlab-ci.yml
  .idea/workspace.xml
  frontend/src/app/services/auth.service.ts
Due: deploy_fe

test 1
  backend/src/main/java/app/rest/UserController.java
  frontend/src/app/enums/theme.ts
Due: deploy_be, deploy_fe

test 2
  .gitlab-ci.yml
  .idea/workspace.xml
  backend/src/main/java/app/models/Comment.java
  frontend/src/app/models/post.ts
Due: deploy_be, deploy_fe

test 3
  .gitlab-ci.yml
  backend/src/main/java/app/repositories/AudioRepository.java
  frontend/src/app/components/editing/editing.component.ts
Due: deploy_be, deploy_fe

test 4
  .idea/workspace.xml
  backend/src/main/java/app/rest/AudioController.java
  frontend/src/app/components/rec-done/rec-done/rec-done.component.ts
Due: deploy_be, deploy_fe

test 5
  .gitlab-ci.yml
  backend/src/main/java/app/rest/CommentController.java
  frontend/src/app/models/post.ts
Due: deploy_be, deploy_fe

final test
  .gitlab-ci.yml
  .idea/workspace.xml
  backend/src/main/java/app/rest/UserController.java
  frontend/src/app/components/rec-done/rec-done/rec-done.component.ts
Due: deploy_be, deploy_fe

fixed issues
  .idea/workspace.xml
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/footer/footer.component.html
  frontend/src/app/components/footer/footer.component.ts
  frontend/src/app/components/forms/login/login.component.ts
  frontend/src/app/components/welcome/welcome.component.css
  frontend/src/app/components/welcome/welcome.component.html
  frontend/src/app/components/welcome/welcome.component.spec.ts
  frontend/src/app/components/welcome/welcome.component.ts
  frontend/src/assets/images/ewa-diary.png
Due: deploy_fe

fixed all issues of database and backend
  .idea/jpa-buddy.xml
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-staging-pg.properties
  backend/src/main/resources/data.sql
Due: deploy_be

test for deployment
  .gitlab-ci.yml
  .idea/workspace.xml
  backend/src/main/resources/application-staging-pg.properties
Due: deploy_be

worked on coordinates for map and edit page
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
  frontend/src/app/components/editing/editing.component.html
  frontend/src/app/components/editing/editing.component.ts
  frontend/src/app/components/feed/mapview/mapview.component.ts
Due: deploy_be, deploy_fe

worked on converting database data to json
  .idea/workspace.xml
  backend/src/main/java/app/models/Posts.java
  frontend/src/app/components/feed/mapview/mapview.component.ts
  frontend/src/app/models/post.ts
Due: deploy_be, deploy_fe

worked on converting database data to json
  .gitlab-ci.yml
  backend/src/main/java/app/rest/LikeController.java
Due: deploy_be

test for deployment
  .gitlab-ci.yml
  .idea/workspace.xml
  backend/src/main/java/app/rest/PostsController.java
Due: deploy_be

another test
  .gitlab-ci.yml
  backend/src/main/java/app/rest/UserController.java
Due: deploy_be

worked on coordinates in map
  .idea/workspace.xml
  frontend/src/app/components/feed/mapview/mapview.component.ts
Due: deploy_fe

worked on coordinates in map
  .idea/workspace.xml
  backend/src/main/java/app/rest/PostsController.java
Due: deploy_be

Path conditions:
  deploy_be: any of: backend/**/*
  deploy_fe: any of: frontend/**/*
