Repository yusraghazi/audioDiary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

.gitlab-ci.yml:

stages:
  - deploy

deploy_be:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - master
    changes:
      - "backend/**/*"
    variables:
      - $DEPLOYMENT == "true"
  script:
    - git remote rm backend || true
    - git remote add backend https://heroku:$HEROKU_API_KEY@git.heroku.com/audiodiary-be-team1-staging.git || true
    - git subtree split --prefix backend -b splitting-be
    - git push --force backend splitting-be:master
    - git branch -D splitting-be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - master
    changes:
      - "frontend/**/*"
    variables:
      - $DEPLOYMENT == "true"
  script:
#    - git remote rm frontend || true
#    - git remote add frontend https://heroku:$HEROKU_API_KEY@git.heroku.com/audiodiary-fe-team1-staging.git || true
#    - git subtree split --prefix frontend -b splitting-fe
#    - git push --force frontend splitting-fe:master
#    - git branch -D splitting-fe
      - git branch -D splitting-fe || true
      - git remote rm heroku-fe-app || true
      - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-fe-app-staging1.git || true
      - git subtree split --prefix my-fe-app -b splitting-fe
      - git push --force heroku-fe-app splitting-fe:master

merge image cloudinary 2.0
  frontend/.gitignore
Due: deploy_fe

merge image cloudinary 2.0
  .idea/workspace.xml
  frontend/.gitignore
Due: deploy_fe

update profile-page with cloudinary
  .idea/workspace.xml
  frontend/package-lock.json
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.html
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.ts
  frontend/src/app/components/profile/profile-post/profile-post.component.html
  frontend/src/app/components/profile/profile-post/profile-post.component.ts
Due: deploy_fe

p.json update
  .idea/workspace.xml
Due: none

p.json update
  .idea/workspace.xml
  frontend/package-lock.json
  frontend/package.json
Due: deploy_fe

p.json update v2
  .idea/workspace.xml
  frontend/package-lock.json
  frontend/package.json
Due: deploy_fe

Testing deployment
  frontend/src/app/components/rec-done/rec-done/rec-done.component.html
Due: deploy_fe

V1.00 testing deployment
  frontend/.angular/cache/angular-webpack/693105b6b45b1f783600c072e7ed9e5b6c8aeaff/index.pack.old
Due: deploy_fe

V1.01 deployment test
  .idea/ad-vmc-1.iml
  .idea/workspace.xml
  frontend/package-lock.json
Due: deploy_fe

try again for deployment
  .idea/workspace.xml
  frontend/package.json
Due: deploy_fe

fixed bugs
  .idea/workspace.xml
  frontend/package-lock.json
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/feed/feedview/feedview.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.css
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
  frontend/src/app/components/profile-settings/profile-settings.component.html
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.ts
  frontend/src/app/components/profile/profile-post/profile-post.component.ts
  frontend/src/app/components/rec-done/rec-done/rec-done.component.html
Due: deploy_fe

worked on audio
  .idea/workspace.xml
  frontend/src/app/components/editing/editing.component.css
  frontend/src/app/components/editing/editing.component.html
  frontend/src/app/components/editing/editing.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
  frontend/src/app/components/rec-done/rec-done/rec-done.component.html
  frontend/src/app/components/rec-done/rec-done/rec-done.component.ts
  frontend/src/app/services/posts.service.ts
Due: deploy_fe

worked on audio
  .idea/workspace.xml
  frontend/src/app/components/editing/editing.component.css
  frontend/src/app/components/editing/editing.component.html
  frontend/src/app/components/editing/editing.component.ts
  frontend/src/app/components/feed/recording-post/recording-post.component.css
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
  frontend/src/app/components/footer/footer.component.html
Due: deploy_fe

worked further on audio
  .idea/workspace.xml
  frontend/src/app/components/feed/recording-post/recording-post.component.html
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
Due: deploy_fe

worked further on audio
  .idea/workspace.xml
  frontend/src/app/components/feed/recording-post/recording-post.component.ts
  frontend/src/app/components/feed/single-audio/single-audio.component.css
  frontend/src/app/components/feed/single-audio/single-audio.component.html
  frontend/src/app/components/feed/single-audio/single-audio.component.ts
Due: deploy_fe

worked further on audio
  .idea/workspace.xml
  frontend/src/app/components/feed/feedview/feedview.component.ts
Due: deploy_fe

worked on audio
  frontend/src/app/components/feed/feedview/feedview.component.ts
Due: deploy_fe

Fixed it should create login test
  .idea/workspace.xml
  frontend/karma.conf.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.spec.ts
  frontend/src/app/components/forms/login/login.component.spec.ts
  frontend/tsconfig.spec.json
Due: deploy_fe

for merge
  .idea/workspace.xml
Due: none

Backend test and frontend Taner
  .idea/workspace.xml
  backend/src/test/java/com/example/backend/loginTest.java
  frontend/src/app/components/forms/login/login.component.spec.ts
  frontend/src/app/components/profile-settings/profile-settings.component.spec.ts
Due: deploy_be, deploy_fe

worked on frontend tests
  .idea/workspace.xml
  frontend/karma.conf.js
  frontend/src/app/components/admin/admin-posts/admin-posts.component.spec.ts
  frontend/src/app/components/admin/admin-posts/admin-posts.component.ts
  frontend/src/app/components/admin/admin-users/admin-users.component.spec.ts
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/admin/home/home.component.spec.ts
  frontend/src/app/components/admin/home/home.component.ts
  frontend/src/app/components/feed/mapview/mapview.component.spec.ts
  frontend/src/app/components/forms/login/login.component.spec.ts
Due: deploy_fe

worked on backend tests
  .idea/workspace.xml
  backend/src/test/java/com/example/backend/loginTest.java
  backend/src/test/java/com/example/backend/testUserRepository.java
Due: deploy_be

backend test update
  backend/src/test/java/com/example/backend/testUserRepository.java
Due: deploy_be

Fixed workspace
  .idea/workspace.xml
  backend/src/test/java/com/example/backend/loginTest.java
  backend/src/test/java/com/example/backend/testUserRepository.java
Due: deploy_be

worked on backend test
  .idea/workspace.xml
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/java/com/example/backend/ServletInitializer.java
  backend/src/test/java/com/example/backend/createPostTest.java
  backend/src/test/java/com/example/backend/loginTest.java
Due: deploy_be

worked on backend test
  .idea/workspace.xml
Due: none

fixed my mistake
  .idea/workspace.xml
  backend/src/main/java/app/BackendApplication.java
  backend/src/main/java/app/rest/PostsController.java
  backend/src/main/java/com/example/backend/ServletInitializer.java
Due: deploy_be

added backend test for Post
  .idea/workspace.xml
  backend/src/main/java/app/rest/PostsController.java
  backend/src/test/java/app/createPostTest.java
Due: deploy_be

Worked on backend for user test
  .idea/workspace.xml
  backend/src/test/java/com/example/backend/loginTest.java
  backend/src/test/java/com/example/backend/testUserRepository.java
Due: deploy_be

tests in correct folder now
  .idea/workspace.xml
  backend/src/test/java/app/loginTest.java
  backend/src/test/java/app/testUserRepository.java
Due: deploy_be

Fixed expecting issue in test
  .idea/workspace.xml
  backend/src/test/java/app/loginTest.java
  backend/src/test/java/app/testUserRepository.java
  frontend/src/app/components/forms/login/login.component.html
  frontend/src/app/components/forms/login/login.component.spec.ts
  frontend/src/app/components/profile-settings/profile-settings.component.spec.ts
Due: deploy_be, deploy_fe

Frontend tests done
  .idea/workspace.xml
  frontend/src/app/components/forms/login/login.component.spec.ts
  frontend/src/app/components/forms/register/register.component.html
  frontend/src/app/components/forms/register/register.component.spec.ts
  frontend/src/app/components/profile-settings/profile-settings.component.html
  frontend/src/app/components/profile-settings/profile-settings.component.spec.ts
Due: deploy_fe

Last test changes
  .idea/workspace.xml
  backend/pom.xml
  backend/src/test/java/app/getAllUsersTest.java
  backend/src/test/java/app/loginTest.java
  backend/src/test/java/app/testUserRepository.java
Due: deploy_be

Fixed backend tests
  .idea/workspace.xml
  backend/src/main/java/app/repositories/UserRepositoryJPA.java
  backend/src/test/java/app/getAllUsersTest.java
  backend/src/test/java/app/testUserRepository.java
Due: deploy_be

Fixed backend tests all
  .idea/workspace.xml
  backend/src/test/java/app/testUserRepository.java
Due: deploy_be

added backend test for Post
  .idea/workspace.xml
  backend/src/main/java/app/exceptions/CommentNotFoundException.java
  backend/src/main/java/app/rest/PostsController.java
  backend/src/test/java/app/createPostTest.java
Due: deploy_be
