Repository yusraghazi/audioDiary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git remote rm backend || true
  - git remote add backend https://heroku:$HEROKU_API_KEY@git.heroku.com/audiodiary-be-team1-staging.git || true
  - git subtree split --prefix backend -b splitting-be
  - git push --force backend splitting-be:master
  ...

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git remote rm frontend || true
  - git remote add frontend https://heroku:$HEROKU_API_KEY@git.heroku.com/audiodiary-fe-team1-staging.git || true
  - git subtree split --prefix frontend -b splitting-fe
  - git push --force frontend splitting-fe:master
  ...

second try
  .gitlab-ci.yml
  .idea/workspace.xml
Due: none

ANOTHER TEST
  backend/src/main/java/app/rest/PostsController.java
Due: deploy_be

further implementation of deployment
  .idea/dataSources.xml
  .idea/workspace.xml
  backend/src/main/java/app/models/User.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-staging-pg.properties
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
  frontend/src/environments/environment.staging.ts
Due: deploy_be, deploy_fe

test
  .idea/workspace.xml
  frontend/src/app/components/feed/mapview/mapview.component.html
Due: deploy_fe

removed variables bc pipelining is not working anymore
  .gitlab-ci.yml
  .idea/workspace.xml
Due: none

last test
  frontend/src/app/components/feed/mapview/mapview.component.ts
Due: deploy_fe

last try
  .gitlab-ci.yml
  .idea/workspace.xml
Due: none

really the last try to fix backend in deployment
  .idea/workspace.xml
  backend/src/main/java/app/rest/Webconfig.java
Due: deploy_be

attempt on error fix
  .gitlab-ci.yml
  .idea/workspace.xml
  backend/src/main/java/app/rest/Webconfig.java
Due: deploy_be

changed services from hardcoded code to environment apiUrl
  .gitlab-ci.yml
  .idea/workspace.xml
  backend/src/main/java/app/rest/Webconfig.java
  frontend/src/app/services/comments.service.ts
  frontend/src/app/services/posts.service.ts
  frontend/src/app/services/user.service.ts
  frontend/src/environments/environment.ts
Due: deploy_be, deploy_fe

changed services from hardcoded code to environment apiUrl
  .gitlab-ci.yml
  .idea/workspace.xml
  backend/src/main/java/app/rest/Webconfig.java
Due: deploy_be

Update application-staging-pg.properties
  backend/src/main/resources/application-staging-pg.properties
Due: deploy_be

Update User.java
  backend/src/main/java/app/models/User.java
Due: deploy_be

changed services from hardcoded code to environment apiUrl
  .idea/workspace.xml
  frontend/src/app/services/posts.service.ts
Due: deploy_fe

cors mapping issue
  .idea/workspace.xml
  backend/src/main/java/app/rest/Webconfig.java
Due: deploy_be

worked on login
  .idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
  .idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml
  .idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
  .idea/libraries/Maven__com_google_guava_guava_30_0_jre.xml
  .idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
  .idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
  .idea/libraries/Maven__io_jsonwebtoken_jjwt_api_0_11_2.xml
  .idea/libraries/Maven__io_jsonwebtoken_jjwt_impl_0_11_2.xml
  .idea/libraries/Maven__io_jsonwebtoken_jjwt_jackson_0_11_2.xml
  .idea/workspace.xml
  backend/pom.xml
  backend/src/main/java/app/models/User.java
  backend/src/main/java/app/repositories/UserRepository.java
  backend/src/main/java/app/repositories/UserRepositoryJPA.java
  backend/src/main/java/app/rest/AudioController.java
  backend/src/main/java/app/rest/PostsController.java
  backend/src/main/java/app/rest/UserController.java
  backend/src/main/java/app/rest/Webconfig.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/data.sql
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/forms/login/login.component.html
  frontend/src/app/components/forms/login/login.component.ts
  frontend/src/app/expense.guard.spec.ts
  frontend/src/app/expense.guard.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/user.service.ts
Due: deploy_be, deploy_fe

worked on login
  backend/src/main/java/app/exceptions/AuthenticationException.java
  backend/src/main/java/app/exceptions/AuthorizationException.java
  backend/src/main/java/app/rest/AuthenticationController.java
  backend/src/main/java/app/security/JWTRequestFilter.java
  backend/src/main/java/app/security/JWTokenInfo.java
  backend/src/main/java/app/security/JWTokenUtils.java
  backend/src/main/java/app/security/PasswordEncoder.java
  frontend/src/app/models/user.ts
  frontend/src/app/services/auth-guard-admin.service.ts
  frontend/src/app/services/auth-guard-loggedin.service.ts
  frontend/src/app/services/auth.interceptor.ts
Due: deploy_be, deploy_fe

worked on login
  .idea/workspace.xml
  backend/src/main/resources/application-staging-pg.properties
Due: deploy_be

worked on login
  .idea/.gitignore
  .idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
  .idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml
  .idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
  .idea/libraries/Maven__com_google_guava_guava_30_0_jre.xml
  .idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
  .idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
  .idea/libraries/Maven__io_jsonwebtoken_jjwt_api_0_11_2.xml
  .idea/libraries/Maven__io_jsonwebtoken_jjwt_impl_0_11_2.xml
  .idea/libraries/Maven__io_jsonwebtoken_jjwt_jackson_0_11_2.xml
Due: none

worked on login
  .idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
  .idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml
  .idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
  .idea/libraries/Maven__com_google_guava_guava_30_0_jre.xml
  .idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
  .idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
  .idea/libraries/Maven__io_jsonwebtoken_jjwt_api_0_11_2.xml
  .idea/libraries/Maven__io_jsonwebtoken_jjwt_impl_0_11_2.xml
  .idea/libraries/Maven__io_jsonwebtoken_jjwt_jackson_0_11_2.xml
  .idea/workspace.xml
  frontend/package.json
Due: deploy_fe

quick fix
  .idea/workspace.xml
  frontend/package.json
Due: deploy_fe

quick fix
  .idea/workspace.xml
  frontend/package-lock.json
  frontend/package.json
Due: deploy_fe

test
  frontend/package-lock.json
  frontend/src/app/services/auth.interceptor.ts
Due: deploy_fe

last fix
  .idea/workspace.xml
  backend/pom.xml
Due: deploy_be

final test
  .idea/workspace.xml
  frontend/src/app/enums/theme.ts
Due: deploy_fe

final test
  .idea/workspace.xml
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/comments.service.ts
  frontend/src/app/services/user.service.ts
Due: deploy_fe

last try...
  .idea/workspace.xml
  frontend/package.json
Due: deploy_fe

removed try
  .idea/workspace.xml
  frontend/package.json
Due: deploy_fe

changed gitlab-ci.yml to fix deployment
  .gitlab-ci.yml
  .idea/workspace.xml
  frontend/src/app/components/admin/admin-posts/admin-posts.component.html
Due: deploy_fe

changed gitlab-ci.yml to fix deployment
  .gitlab-ci.yml
  frontend/src/app/app.component.html
Due: deploy_fe

changed gitlab-ci.yml to fix deployment
  .gitlab-ci.yml
  frontend/src/app/app.module.ts
Due: deploy_fe

updated node version due to error
  .idea/workspace.xml
  frontend/package.json
Due: deploy_fe

get data from database
  .idea/.gitignore
  .idea/workspace.xml
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
Due: deploy_be

updated node version due to error
  .idea/runConfigurations.xml
  .idea/workspace.xml
Due: none

add Pop-up for delete from profile
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.css
  frontend/src/app/components/profile/profile-post-favorite/profile-post-favorite.component.html
  frontend/src/app/components/profile/profile-post/profile-post.component.css
  frontend/src/app/components/profile/profile-post/profile-post.component.html
Due: deploy_fe

V1.00
  .idea/dataSources.xml
  .idea/libraries/Maven__com_h2database_h2_1_4_200.xml
  .idea/workspace.xml
  backend/pom.xml
  backend/src/main/java/app/rest/AuthenticationController.java
  backend/src/main/java/app/rest/UserController.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-staging-pg.properties
  frontend/src/app/components/forms/register/register.component.html
  frontend/src/app/components/forms/register/register.component.spec.ts
  frontend/src/app/components/forms/register/register.component.ts
  frontend/src/app/models/user.ts
Due: deploy_be, deploy_fe

Path conditions:
  deploy_be: any of: backend/**/*
  deploy_fe: any of: frontend/**/*
